<!DOCTYPE html>
<html>

<head>
    <title>Территория добрых дел</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/main.css')}}">
</head>

<body>
    <main class="main">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>Территория добрых дел</h1>
        <hr />
        <form method="POST" action="{{url_for('login')}}">
            {{ form.hidden_tag() }}
            <div>
                <label for="username">{{form.username.label}}</label>
                {{form.username(size=32)}}
            </div>

            <div>
                <label for="password">{{form.password.label}}</label>
                {{form.password(size=32)}}
            </div>

            <div class="content-centered">
                {{form.submit()}}
            </div>
        </form>
        </div>
    </main>

    <script src="{{url_for('serve_preline_js')}}"></script>
</body>

</html>