<!DOCTYPE html>
<html>

<head>
    <title>Территория добрых дел</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/main.css')}}">
</head>

<body>
    <main class="main">
        <h1>Территория добрых дел</h1>
        <hr/>
        <form>
            <div class="grid gap-y-4">
                <div>
                    <label for="email">{{form.username.label}}</label>
                    {{form.username(size=32)}}
                </div>

                <div>
                    <label for="password">{{form.password.label}}</label>
                    {{form.password(size=32)}}
                </div>

                <div class="content-centered">
                    {{form.submit()}}
                </div>
            </div>
        </form>
        </div>
    </main>

    <script src="{{url_for('serve_preline_js')}}"></script>
</body>

</html>